/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin: 0;
  padding: 0;
}

.container {
  width:70%;
  margin: 0 auto;
}

/* navbar */
header {
  width: 100%;
  height: 3.5rem;
  background-color: lightseagreen;
}

.navbar {
  float: right;
  margin:1rem 1rem 0 1rem;
}

.nav {
  float: left;
  margin-right: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s ease;
}

.nav:hover {
  color: #ffc1c1;

  transition: all 0.3s ease;
}

.nav:before {
  content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid salmon;
	position: absolute;
}

.nav:hover:before {
  width:60%;
  border-bottom: 2px solid salmon;
}

.nav:after {
  content: '';
	width: 0;
	right: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid salmon;
	position: absolute;
}

.nav:hover:after {
  width:60%;
  border-bottom: 2px solid salmon;
}

.like {
  color: salmon;
}
.liked {
  color: salmon!important;
}

.liked:hover {
  opacity: 0.5;
}

.btn {
  text-decoration: none;
}