// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@media (min-width: 1000px) {
 
/* index */
 .posts {
   width: 90%;
   margin: 0 auto;
 }
 
 .post {
   margin: 2rem 3rem;
   height: 15rem;
   border: 2px solid lightseagreen;
   border-radius: 10px;
   transition: all 0.5s ease;
   background: rgba(249,255,252,0.9);
 }
 
 .post:hover {
   margin-right: 0;
   transition: all 0.5s ease;
 }
 
 .a-post {
   float: left;
   width: 100%;
   height: 100%;
 }
 
 .post-right{
   float: right;
   height: 74%;
   width: 40%;
   padding: 2rem;
 }
 
 .post-left {
   width: 50%;
   height: 100%;
 }
 
 .post-user-name > a {
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 20px;
 }
 
 .post-user-name > a:before {
  content: "";
  left: 62%;
  width: 0;
  border-bottom: 2px solid salmon;
  position: absolute;
  height: 2rem;
  transition: all 0.3s ease;
 }
 
 .post-user-name {
   text-align: center;
   margin: 1rem;
   transition: all 0.3s ease;
 }
 
 .post-user-name > a:hover:before {
  left: 62%;
  width: 10%;
  transition: all 0.3s ease;
 }
 
 .post-text > a {
   text-decoration: none;
   color: black;
 }
 
 .post-text > a:before {
   left: 56%;
   content: "";
   width: 0;
   border-bottom: 2px solid salmon;
   transition: all 0.3s ease;
   position: absolute;
   height: 2rem;
 }
 
 .post-text {
   margin: 2rem 1rem;
   transition: all 0.3s ease;
 }
 
 .post-text > a:hover:before {
  left: 56%;
  width: 21%;
   border-bottom: 2px solid salmon;
   transition: all 0.3s ease;
 }
 
 .post-like {
   margin: 1rem;
   text-align: right;
   font-size: 20px;
 }
 
 .post-like > div > a {
   text-decoration: none;
   color: black;
   transition: all 0.3s ease;
 }
 
 .post-like > div > a:hover {
   color: salmon;
   transition: all 0.3s ease;
 }
 
 .youtube_url {
   height: 100%;
 }
 
 .youtube {
   margin: 2rem;
   height: 71%;
 }
 
 
 /*  new */
 
 .new-post {
   width: 70%;
   margin: 5rem auto;
 }
 
 .new-youtube {
   width: 75%;
   margin: 15% 0 0 20%;
 }
 
 .new-youtube-input > input,.field_with_errors > input {
   padding: 0.5rem;
   border: none;
   width: 70%;
   border-bottom: 1px solid black;
   position: relative;
 }
 
 .new-youtube-input:before {
   content: '';
   width: 0;
   height: 2rem;
   border-bottom: 2px solid black;
   transition: all 0.3s ease;
   position: absolute;
 }
 
 .new-youtube-input > input:focus,.field_with_errors > input:focus{
   outline: none;
   border-bottom: 3px solid salmon;
 }
 
 .new-youtube-input:hover:before {
   width: 26.9%;
   transition: all 0.3s ease;
   border-bottom: 3px solid salmon;
 }
 
 .new-post-text {
   width: 75%;
   margin: 10% 0 0 20%;
 }
 
 .new-post-input > textarea,.field_with_errors > textarea {
  width: 70%;
  height: 6rem;
  padding: 0.5em;
  transition: all 0.5s ease;
 }
 
 .new-post-input > textarea:focus,.field_with_errors > textarea:focus {
  outline: none;
  border: 1px solid salmon;
 }
 
 .new-post-input > textarea:hover {
  border: 1px solid salmon;
  transition: all 0.5s ease;
 }
 
 .submit {
  margin: 5rem 14rem 0;
  width: 30%;
  padding: 0.5rem;
  background: none;
  color: salmon;
  border: 1px solid salmon;
  transition: all 0.3s ease;
  font-size: 20px;
 }
 
 .submit:hover {
  background: salmon;
  color: white;
  transition: all 0.3s ease;
 }
 
 /* show */
 .show-post {
   margin: 2rem;
   height: 24rem;
   border: 2px solid lightseagreen;
   border-radius: 10px;
   transition: all 0.5s ease;
   background: rgba(249,255,252,0.9);
 }
 
 .show-post-right{
  float: right;
  height: 88%;
  width: 40%;
  margin: 2rem 2rem 1rem;
  position: relative;
 }
 
 .show-youtube-url {
  margin: 4.2rem 2rem;
  height: 65%;
  width: 95%;
 }
 
 .show-youtube {
  width: 100%;
  height: 100%;
 }
 

 .show-post-user-name > a {
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 20px;
 }
 
 .show-post-user-name > a:before {
  content: "";
  left: 35%;
  width: 0;
  border-bottom: 2px solid salmon;
  position: absolute;
  height: 9%;
  transition: all 0.3s ease;
 }
 
 .show-post-user-name {
   text-align: center;
   margin: 1rem;
   transition: all 0.3s ease;
 }
 
 .show-post-user-name > a:hover:before {
  left: 35%;
  width: 30%;
  border-bottom: 2px solid salmon;
  transition: all 0.3s ease;
 }
 
 .show-post-like {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
 }
 
 .edit {
  position: absolute;
  display: inline-block;
  border: 1px solid salmon;
  border-radius: 5px;
  color: salmon;
  width: 40%;
  text-align: center;
  padding: 0.3rem;
  float: left;
  margin: 0.5rem;
  transition: all 0.5s ease;
  bottom: 0;
  left: 1.5rem;
 }
 
 .edit:hover {
  background-color: salmon;
  color: white;
  transition: all 0.5s ease;
 }
 
 .destroy {
  position: absolute;
  display: inline-block;
  border: 1px solid salmon;
  border-radius: 5px;
  color: salmon;
  width: 40%;
  text-align: center;
  padding: 0.3rem;
  float: left;
  margin: 0.5rem;
  transition: all 0.5s ease;
  bottom: 0;
  right: 0;
 }
 
 .destroy:hover {
  background-color: salmon;
  color: white;
  transition: all 0.5s ease;
 }
}


@media (max-width: 1000px) {
 
 .new-youtube {
   width: 75%;
   margin: 15% 0 0 20%;
 }
 
 .new-youtube-input > input,.field_with_errors > input {
   padding: 0.5rem;
   border: none;
   width: 75%;
   border-bottom: 1px solid black;
   position: relative;
   z-index: -1;
 }
 
 .new-youtube-input > input:focus,.field_with_errors > input:focus{
   outline: none;
   border-bottom: 3px solid salmon;
 }
 
 .submit {
  margin: 5rem 4rem;
  width: 60%;
  padding: 0.5rem;
  background: none;
  color: salmon;
  border: 1px solid salmon;
  transition: all 0.3s ease;
  font-size: 20px;
 }
 
 .new-post-text {
  width: 75%;
  margin: 10% 0 0 20%;
  color: white;
 }
 
 .new-post-input > textarea,.field_with_errors > textarea {
  width: 75%;
  height: 4rem;
  padding: 0.5em;
  transition: all 0.5s ease;
 }
 
 .new-post-input > textarea:focus,.field_with_errors > textarea:focus {
  outline: none;
  border: 1px solid salmon;
 }
 
 .post {
  margin: 2rem 0;
   border: 2px solid lightseagreen;
   border-radius: 10px;
   transition: all 0.5s ease;
   background: rgba(249,255,252,0.9);
 }
 
 .a-post {
  width: 100%;
  height: 100%;
 }
 
 .post-right,.show-post-right,.user-right {
  width: 90%;
  margin: 1rem auto;
 }
 
 .post-user-name,.show-post-user-name {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
 }
 
 .post-text,.show-post-text {
  text-align: center;
  margin-bottom: 1rem;
 }
 
 .post-user-name > a,.show-post-user-name > a{
  text-decoration: none;
  color: black;
  padding: 0 2rem;
  border-bottom: 1px solid salmon;
 }
 
 .post-text > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid salmon;
 }
 
 .post-like {
  text-align: right;
  margin-right: 0.5rem;
 }
 
 .post-like > div > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid lightseagreen;
 }
 
 .post-left {
  width: 100%;
  margin: 0.5rem auto;
 }
 
 .youtube_url, {
  width: 90%;
  margin: 0 auto;
 }
 
 .youtube {
  width: 100%;
 }
 
 
 .show-post {
   border: 2px solid lightseagreen;
   border-radius: 10px;
   transition: all 0.5s ease;
   background: rgba(249,255,252,0.9);
 }
 
 .show-post-like {
  width: 33%;
  margin-top: 1rem;
  float: right;
 }
 
 .edit,.destroy {
  border: 1px solid salmon;
  border-radius: 5px;
  color: salmon;
  width: 25%;
  text-align: center;
  padding: 0.3rem;
  float: left;
  margin: 0.5rem 0.5rem 0.5rem 0;
  left: 1.5rem;
 }
 
 .show-youtube-url {
  width: 90%;
  margin: 4rem auto 0.5rem;
 }
 
 .show-youtube {
  width: 100%;
 }
 
}